.idea

# Ignore contents of data directory
data/*
# But don't ignore the data directory itself and threads directory
!data/
!data/threads/
data/threads/db-migration.json
!data/sql-scripts
!data/test-emails
data/threads/000000000-test-entity-development
data/threads/test-entity-development
!data/entities.json
!data/entities_test.json
